# Artificial Neural Network in Python

## ANN Diagram
![alt text](ann.jpg)

## Neuron
![alt text](ann2.png)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Read and display data
df = pd.read_csv('Bank_Data.csv')
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
# Check for null values
df.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [4]:
x=  df.iloc[:,3:13]
x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [5]:
y= df.iloc[:,13]
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [6]:
# Convert categorical data into "dummy" variables
geo = pd.get_dummies(x['Geography'],drop_first=True)
gender = pd.get_dummies(x['Gender'], drop_first=True)
x = pd.concat([x,geo,gender],axis=1)

x.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0

In [7]:
x.drop(['Geography','Gender'],axis=1,inplace=True)
x.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0

In [8]:
# train test split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20, random_state=42)


# normalize the data
from sklearn.preprocessing import StandardScaler

standard = StandardScaler()

x_train = standard.fit_transform(x_train)
x_test = standard.transform(x_test)

In [11]:
# Initializing model
classifier = Sequential()

# First Layer
classifier.add(Dense(units = 12, kernel_initializer = 'he_uniform',activation='relu',input_dim = 11))
classifier.add(Dropout(0.3))

# Second Layer
classifier.add(Dense(units = 15, kernel_initializer = 'he_uniform',activation='relu',input_dim = 11))
classifier.add(Dropout(0.2))

# Third Layer
classifier.add(Dense(units=10, kernel_initializer='he_uniform', activation='relu'))
classifier.add(Dropout(0.4))

# Output Layer
classifier.add(Dense(units=1, kernel_initializer='glorot_uniform', activation='sigmoid'))

In [12]:
# Compiling ANN
classifier.compile(optimizer='Adamax', loss='binary_crossentropy', metrics=['accuracy'])

model_history = classifier.fit(x_train,y_train, validation_split=0.30, batch_size=10, epochs=100 )

Epoch 1/100
560/560 [==============================] - 1s 2ms/step - loss: 0.8698 - accuracy: 0.6266 - val_loss: 0.5646 - val_accuracy: 0.7871
Epoch 2/100
560/560 [==============================] - 1s 1ms/step - loss: 0.6726 - accuracy: 0.7357 - val_loss: 0.5319 - val_accuracy: 0.7887
Epoch 3/100
560/560 [==============================] - 1s 1ms/step - loss: 0.5891 - accuracy: 0.7707 - val_loss: 0.5194 - val_accuracy: 0.7887
Epoch 4/100
560/560 [==============================] - 1s 1ms/step - loss: 0.5543 - accuracy: 0.7811 - val_loss: 0.5123 - val_accuracy: 0.7887
Epoch 5/100
560/560 [==============================] - 1s 1ms/step - loss: 0.5502 - accuracy: 0.7877 - val_loss: 0.5085 - val_accuracy: 0.7887
Epoch 6/100
560/560 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7911 - val_loss: 0.5050 - val_accuracy: 0.7887
Epoch 7/100
560/560 [==============================] - ETA: 0s - loss: 0.5197 - accuracy: 0.7962 ETA: 0s - loss: 0.5284 - accuracy - 1s 1ms/step - loss: 0.5211 - accuracy: 0.7957 - val_loss: 0.5020 - val_accuracy: 0.7887
Epoch 8/100
560/560 [==============================] - 1s 1ms/step - loss: 0.5144 - accuracy: 0.7957 - val_loss: 0.5005 - val_accuracy: 0.7887
Epoch 9/100
560/560 [==============================] - 1s 1ms/step - loss: 0.5105 - accuracy: 0.7970 - val_loss: 0.4981 - val_accuracy: 0.7887
Epoch 10/100
560/560 [==============================] - 1s 1ms/step - loss: 0.5045 - accuracy: 0.7966 - val_loss: 0.4960 - val_accuracy: 0.7887
Epoch 11/100
560/560 [==============================] - 1s 1ms/step - loss: 0.5011 - accuracy: 0.7957 - val_loss: 0.4938 - val_accuracy: 0.7887
Epoch 12/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4976 - accuracy: 0.7970 - val_loss: 0.4911 - val_accuracy: 0.7887
Epoch 13/100
560/560 [==============================] - 1s 1ms/step - loss: 0.5001 - accuracy: 0.7971 - val_loss: 0.4898 - val_accuracy: 0.7887
Epoch 14/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4956 - accuracy: 0.7968 - val_loss: 0.4882 - val_accuracy: 0.7887
Epoch 15/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4938 - accuracy: 0.7966 - val_loss: 0.4866 - val_accuracy: 0.7887
Epoch 16/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4921 - accuracy: 0.7973 - val_loss: 0.4848 - val_accuracy: 0.7887
Epoch 17/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4894 - accuracy: 0.7968 - val_loss: 0.4829 - val_accuracy: 0.7887
Epoch 18/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4883 - accuracy: 0.7971 - val_loss: 0.4813 - val_accuracy: 0.7887
Epoch 19/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4834 - accuracy: 0.7968 - val_loss: 0.4797 - val_accuracy: 0.7887
Epoch 20/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4821 - accuracy: 0.7970 - val_loss: 0.4779 - val_accuracy: 0.7887
Epoch 21/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4801 - accuracy: 0.7971 - val_loss: 0.4763 - val_accuracy: 0.7887
Epoch 22/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4843 - accuracy: 0.7971 - val_loss: 0.4755 - val_accuracy: 0.7887
Epoch 23/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4818 - accuracy: 0.7966 - val_loss: 0.4747 - val_accuracy: 0.7887
Epoch 24/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4817 - accuracy: 0.7961 - val_loss: 0.4736 - val_accuracy: 0.7887
Epoch 25/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4781 - accuracy: 0.7968 - val_loss: 0.4724 - val_accuracy: 0.7887
Epoch 26/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4780 - accuracy: 0.7970 - val_loss: 0.4714 - val_accuracy: 0.7887
Epoch 27/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4751 - accuracy: 0.7970 - val_loss: 0.4700 - val_accuracy: 0.7887
Epoch 28/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4810 - accuracy: 0.7971 - val_loss: 0.4696 - val_accuracy: 0.7887
Epoch 29/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4773 - accuracy: 0.7970 - val_loss: 0.4680 - val_accuracy: 0.7887
Epoch 30/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4728 - accuracy: 0.7968 - val_loss: 0.4666 - val_accuracy: 0.7887
Epoch 31/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4660 - accuracy: 0.7970 - val_loss: 0.4648 - val_accuracy: 0.7887
Epoch 32/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4693 - accuracy: 0.7982 - val_loss: 0.4636 - val_accuracy: 0.7887
Epoch 33/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4697 - accuracy: 0.7973 - val_loss: 0.4629 - val_accuracy: 0.7887
Epoch 34/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4689 - accuracy: 0.7986 - val_loss: 0.4618 - val_accuracy: 0.7887
Epoch 35/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4667 - accuracy: 0.7986 - val_loss: 0.4603 - val_accuracy: 0.7887
Epoch 36/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4695 - accuracy: 0.7984 - val_loss: 0.4590 - val_accuracy: 0.7887
Epoch 37/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4618 - accuracy: 0.7987 - val_loss: 0.4574 - val_accuracy: 0.7887
Epoch 38/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4622 - accuracy: 0.7980 - val_loss: 0.4560 - val_accuracy: 0.7887
Epoch 39/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4642 - accuracy: 0.7986 - val_loss: 0.4545 - val_accuracy: 0.7887
Epoch 40/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4646 - accuracy: 0.7964 - val_loss: 0.4537 - val_accuracy: 0.7887
Epoch 41/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4612 - accuracy: 0.7986 - val_loss: 0.4531 - val_accuracy: 0.7887
Epoch 42/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4630 - accuracy: 0.8005 - val_loss: 0.4517 - val_accuracy: 0.7887
Epoch 43/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4584 - accuracy: 0.7989 - val_loss: 0.4502 - val_accuracy: 0.7887
Epoch 44/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4560 - accuracy: 0.8012 - val_loss: 0.4490 - val_accuracy: 0.7887
Epoch 45/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4584 - accuracy: 0.8014 - val_loss: 0.4478 - val_accuracy: 0.7887
Epoch 46/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4591 - accuracy: 0.8020 - val_loss: 0.4474 - val_accuracy: 0.7887
Epoch 47/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4514 - accuracy: 0.8007 - val_loss: 0.4462 - val_accuracy: 0.7887
Epoch 48/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4559 - accuracy: 0.8050 - val_loss: 0.4453 - val_accuracy: 0.7887
Epoch 49/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4575 - accuracy: 0.8004 - val_loss: 0.4452 - val_accuracy: 0.7892
Epoch 50/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4508 - accuracy: 0.8055 - val_loss: 0.4443 - val_accuracy: 0.7892
Epoch 51/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4621 - accuracy: 0.8021 - val_loss: 0.4451 - val_accuracy: 0.7887
Epoch 52/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4488 - accuracy: 0.8071 - val_loss: 0.4426 - val_accuracy: 0.7900
Epoch 53/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4546 - accuracy: 0.8007 - val_loss: 0.4429 - val_accuracy: 0.7896
Epoch 54/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4485 - accuracy: 0.8071 - val_loss: 0.4412 - val_accuracy: 0.7912
Epoch 55/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4543 - accuracy: 0.8052 - val_loss: 0.4406 - val_accuracy: 0.7921
Epoch 56/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4479 - accuracy: 0.8043 - val_loss: 0.4395 - val_accuracy: 0.7921
Epoch 57/100

560/560 [==============================] - 1s 1ms/step - loss: 0.4567 - accuracy: 0.8029 - val_loss: 0.4394 - val_accuracy: 0.7937
Epoch 58/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4483 - accuracy: 0.8052 - val_loss: 0.4385 - val_accuracy: 0.7937
Epoch 59/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4496 - accuracy: 0.8029 - val_loss: 0.4385 - val_accuracy: 0.7929
Epoch 60/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4504 - accuracy: 0.8062 - val_loss: 0.4377 - val_accuracy: 0.7937
Epoch 61/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4490 - accuracy: 0.8071 - val_loss: 0.4375 - val_accuracy: 0.7937
Epoch 62/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4417 - accuracy: 0.8109 - val_loss: 0.4358 - val_accuracy: 0.7958
Epoch 63/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4352 - accuracy: 0.8084 - val_loss: 0.4342 - val_accuracy: 0.7987
Epoch 64/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4474 - accuracy: 0.8057 - val_loss: 0.4342 - val_accuracy: 0.7971
Epoch 65/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4496 - accuracy: 0.8059 - val_loss: 0.4344 - val_accuracy: 0.7971
Epoch 66/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4402 - accuracy: 0.8091 - val_loss: 0.4336 - val_accuracy: 0.7979
Epoch 67/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4424 - accuracy: 0.8132 - val_loss: 0.4330 - val_accuracy: 0.7983
Epoch 68/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4362 - accuracy: 0.8120 - val_loss: 0.4321 - val_accuracy: 0.8000
Epoch 69/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4457 - accuracy: 0.8055 - val_loss: 0.4332 - val_accuracy: 0.7967
Epoch 70/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4409 - accuracy: 0.8061 - val_loss: 0.4337 - val_accuracy: 0.7958
Epoch 71/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4345 - accuracy: 0.8148 - val_loss: 0.4320 - val_accuracy: 0.7996
Epoch 72/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4357 - accuracy: 0.8155 - val_loss: 0.4300 - val_accuracy: 0.8033
Epoch 73/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4341 - accuracy: 0.8136 - val_loss: 0.4292 - val_accuracy: 0.8046
Epoch 74/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4364 - accuracy: 0.8086 - val_loss: 0.4298 - val_accuracy: 0.8033
Epoch 75/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4346 - accuracy: 0.8180 - val_loss: 0.4290 - val_accuracy: 0.8050
Epoch 76/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4365 - accuracy: 0.8091 - val_loss: 0.4294 - val_accuracy: 0.8017
Epoch 77/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4415 - accuracy: 0.8068 - val_loss: 0.4290 - val_accuracy: 0.8025
Epoch 78/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4330 - accuracy: 0.8139 - val_loss: 0.4277 - val_accuracy: 0.8062
Epoch 79/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4350 - accuracy: 0.8114 - val_loss: 0.4280 - val_accuracy: 0.8033
Epoch 80/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4375 - accuracy: 0.8091 - val_loss: 0.4278 - val_accuracy: 0.8029
Epoch 81/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4365 - accuracy: 0.8121 - val_loss: 0.4274 - val_accuracy: 0.8042
Epoch 82/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4309 - accuracy: 0.8127 - val_loss: 0.4259 - val_accuracy: 0.8067
Epoch 83/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4374 - accuracy: 0.8091 - val_loss: 0.4264 - val_accuracy: 0.8046
Epoch 84/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4329 - accuracy: 0.8154 - val_loss: 0.4248 - val_accuracy: 0.8067
Epoch 85/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4314 - accuracy: 0.8118 - val_loss: 0.4244 - val_accuracy: 0.8067
Epoch 86/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4325 - accuracy: 0.8107 - val_loss: 0.4240 - val_accuracy: 0.8075
Epoch 87/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4280 - accuracy: 0.8193 - val_loss: 0.4218 - val_accuracy: 0.8100
Epoch 88/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4322 - accuracy: 0.8132 - val_loss: 0.4221 - val_accuracy: 0.8096
Epoch 89/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4272 - accuracy: 0.8150 - val_loss: 0.4217 - val_accuracy: 0.8100
Epoch 90/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4261 - accuracy: 0.8132 - val_loss: 0.4213 - val_accuracy: 0.8100
Epoch 91/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4262 - accuracy: 0.8155 - val_loss: 0.4200 - val_accuracy: 0.8108
Epoch 92/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4232 - accuracy: 0.8159 - val_loss: 0.4187 - val_accuracy: 0.8125
Epoch 93/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4228 - accuracy: 0.8163 - val_loss: 0.4182 - val_accuracy: 0.8121
Epoch 94/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4300 - accuracy: 0.8127 - val_loss: 0.4174 - val_accuracy: 0.8112
Epoch 95/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4241 - accuracy: 0.8154 - val_loss: 0.4180 - val_accuracy: 0.8096
Epoch 96/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4266 - accuracy: 0.8163 - val_loss: 0.4157 - val_accuracy: 0.8117
Epoch 97/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4305 - accuracy: 0.8146 - val_loss: 0.4166 - val_accuracy: 0.8100
Epoch 98/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4251 - accuracy: 0.8159 - val_loss: 0.4163 - val_accuracy: 0.8100
Epoch 99/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4226 - accuracy: 0.8177 - val_loss: 0.4139 - val_accuracy: 0.8117
Epoch 100/100
560/560 [==============================] - 1s 1ms/step - loss: 0.4220 - accuracy: 0.8198 - val_loss: 0.4136 - val_accuracy: 0.8112

In [13]:
y_pred = classifier.predict(x_test)
y_pred = (y_pred > 0.5)


cm = confusion_matrix(y_test, y_pred)

score=accuracy_score(y_pred,y_test)


print(f'Accuracy : {score}')
cm

Accuracy : 0.826

array([[1594,   13],
       [ 335,   58]], dtype=int64)